# 
# Export envars for run-time context
#
# Bootstrap common configuration
CFGDIR=${HOME}/devel/godb/cfg/
# Specific to DBACCEESS 
export MHOST=localhost
export MDBNAME=genomicsdb
export VARCOLL=variants
export SAMPCOLL=samples
export FPCOLL=filepaths
#
source ${CFGDIR}/common.cfg

export COMBODATADIR=${DATADIR}/combo
#export ASSAYTYPES="bigtest,affy,illumina,broad,exome,metabo"
export ASSAYTYPES="affy,illumina,broad,exome,metabo"
#export ASSAYTYPES="affy,illumina,broad,exome"
#export ASSAYTYPES="affy,illumina"
#export ASSAYTYPES="affy"
#export ASSAYTYPES="bigtest"
# Overrides   
#FIRSTCHR=22
#LASTCHR=22
