# 
# Export envars for runtime context
#
# Bootstrap - prior to sourcing common configuration
CFGDIR=${HOME}/devel/godb/cfg/
# 
# Specific to the web application 
#
source ${CFGDIR}/common.cfg
# Overrides   
#FIRSTCHR=22
#LASTCHR=22
