{{ define "navigation" }}
<div class="container card shadow p-3 mb-3 bg-light rounded">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Options:</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Phenotype Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Search by Gene</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
{{ end }}
