<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="well">
  <h4>Chr number, start-end position (range max 250kb)</h4>
</div>
{% include 'flash.html' %}
<form class="form-horizontal" action="" method="post" name="post">
  <div class="well">
        {{form.hidden_tag()}}
        <div class="control-group{% if form.errors.post %} error{% endif %}">
            <label class="control-label" for="post">Chromosome #:</label>
            <div class="controls">
		{% if form.chromosome.data != None %} 
                {{ form.chromosome(size = 2, maxlength = 2, value = form.chromosome.data) }}
                {% else %}
                {{ form.chromosome(size = 2, maxlength = 2) }}
                {% endif %}
                {% for error in form.errors.chromosome %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
            <label class="control-label" for="post">Start:</label>
            <div class="controls">
		{% if form.start.data != None %} 
                {{ form.start(size = 6, maxlength = 10,  value = form.start.data) }}
                {% else %}
                {{ form.start(size = 6, maxlength = 10) }}
                {% endif %}
                {% for error in form.errors.start %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
            <label class="control-label" for="post">End:</label>
            <div class="controls">
		{% if form.end.data != None %} 
                {{ form.end(size = 6, maxlength = 10, value = form.end.data) }}
                {% else %}
                {{ form.end(size = 6, maxlength = 10) }}
                {% endif %}
                {% for error in form.errors.end %}
                    <span class="help-inline">[{{error}}]</span><br>
                {% endfor %}
            </div>
        </div>
        <p/>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" name="sbtn" type="submit" value="Search">
                <input class="btn btn-default" name="dbtn" type="submit" value="Download">
            </div>
        </div>
   {{ msg }}
</div>
{% include 'variant_table.html' %}
</form>
{% endblock %}
