<tr>
  <td><label><input type="checkbox" name="include" value="{{variant["rsid"]}}_{{variant["assaytype"]}}" checked/></label></td>
  <td><a href="http://www.ncbi.nlm.nih.gov/SNP/snp_ref.cgi?searchType=adhoc_search&type=rs&rs={{variant["rsid"]}}" target="_blank">{{variant["rsid"]}}</a></td>
  <td>{{variant["assaytype"]}}</td>
  <td>{{variant["chromosome"]}}</td>
  <td>{{variant["position"]}}</td>
  <td>{{variant["alleleA"]}}</td>
  <td>{{variant["alleleB"]}}</td>
  <td>{{variant["hwe_p"]}}</td>
  <td>{{variant["a_af"]}}</td>
  <td>{{variant["b_af"]}}</td>
  <td>{{variant["Missing"]}}</td>
  <td>{{variant["info"]}}</td>
  <td>{{variant["samplecount"]}}</td>
</tr>
